.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-direction{
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
    height: 100%;   
}

.grid {
    display: grid; 
}

.gap {
    grid-gap:10px;
}

/* .column {
    flex-direction: column;
} */

