.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.grid {
    display: grid; 
}

.gap {
    grid-gap:30px;
}
